<mat-sidenav-container class="sidenav-container">
  <!-- Side Nav -->
  <mat-sidenav #sidenav class="sidenav" mode="over" [opened]="isHandset | async">
    <nav>
      <a routerLink="/home">
        <img src="assets/m.png" class="logo-image" alt="Logo" loading="lazy">
      </a>
      <a mat-button class="sidenav-button" *ngIf="isAuthenticated" routerLink="/product"><mat-icon>inventory</mat-icon>Products</a>
      <a mat-button class="sidenav-button" *ngIf="isAuthenticated && (userRole === 'Manager' || userRole === 'Capturer')" routerLink="/createproduct"><mat-icon>add_box</mat-icon>Create Product</a>
      <a mat-button class="sidenav-button" *ngIf="isAuthenticated && userRole === 'Manager'" routerLink="/manageproduct"><mat-icon>manage_accounts</mat-icon>Manage Products</a>
      <a mat-button class="sidenav-button" *ngIf="isAuthenticated && userRole === 'Manager'" routerLink="/register"><mat-icon>register</mat-icon>Register New User</a>
      <a mat-button class="sidenav-button" *ngIf="isAuthenticated" (click)="logout()"><mat-icon>logout</mat-icon>Logout</a>
    </nav>
  </mat-sidenav>

  <!-- Main Nav -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      
      <button mat-icon-button (click)="sidenav.toggle()" *ngIf="isHandset | async">
        <mat-icon>menu</mat-icon>
      </button>
      
      <a routerLink="/home">
        <img src="assets/m.png" class="logo-image" alt="Logo" loading="lazy">
      </a>
      <span class="spacer"></span>
      
      <div class="toolbar-container" *ngIf="!(isHandset | async)">
        <nav>
          <a mat-button *ngIf="isAuthenticated" routerLink="/product"><mat-icon>inventory</mat-icon>Products</a>
          <a mat-button *ngIf="isAuthenticated && (userRole === 'Manager' || userRole === 'Capturer')" routerLink="/createproduct"><mat-icon>add_box</mat-icon>Create Product</a>
          <a mat-button *ngIf="isAuthenticated && userRole === 'Manager'" routerLink="/manageproduct"><mat-icon>manage_accounts</mat-icon>Manage Products</a>
          <a mat-button *ngIf="isAuthenticated && userRole === 'Manager'" routerLink="/register"><mat-icon>person_add</mat-icon>Register New User</a>
          <a mat-button *ngIf="isAuthenticated" (click)="logout()"><mat-icon>logout</mat-icon>Logout</a>
        </nav>
      </div>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
